@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

.main-content {
  margin-bottom: 10px; /* To ensure content isn't hidden behind the fixed UploadForm */
  overflow-y: auto;
  padding: 0px;
  height: 65vh;
}
.app-container {
  display: flex;
}

.welcomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 50px;
}
.logo {
  /* border: 1px solid red; */
  /* padding-top: 10px; */
}
.logo img {
  filter: grayscale(20%);

  width: 90%;
}

.welcome {
  /* padding-top: 50px; */
  /* border: 1px solid red; */
}

.companyName {
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-weight: 600;

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  letter-spacing: 2px;
  margin-bottom: 1px;
}
.welcomeText {
  font-size: 17px;
  letter-spacing: 3.5px;
  color: rgba(255, 251, 251, 0.742);
}
.content {
  flex-grow: 1;
}

.formContainer {
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(28, 28, 28) !important;
}
