
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

.main-content {
    margin-bottom: 10px;/* To ensure content isn't hidden behind the fixed UploadForm */
    /* height: 10%; */
    overflow-y: auto;
    
    
  }
  .app-container{
    display: flex;
   

   
  }

  .welcomeContainer{
    text-align: center;
    padding-top: 70px;

   
  }
  .welcomeContainer img{
    text-align: center;
    padding-top: 70px;
    filter: grayscale(80%);
   
  } 

  .welcome{
    padding-top: 50px;
  }
  .welcome h1{
    color: rgb(196, 194, 194);
    font-size: 25px;
    font-weight: 600;
    
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    margin-bottom: 50px;
  }
  
.content{
  flex-grow: 1;

}
/* @media screen and (max-width: 600px) {
  .app-container {
    display: block;

  }} */

 
  /* Set a height and a max-height on the div, and set overflow-y: scroll. This will restrict the 
  div to so tall and let you scroll the div.
   If you don’t want your whole page to be scrollable, simply set overflow: hidden on the body. */